APP_ENV=development

DB_HOST=localhost
DB_NAME=auth_project_1
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@example.com
MAIL_FROM_NAME=Auth Project

APP_URL=http://localhost:8000